.projects {
    padding: 64px 16px 176px;
    &__paragraph {
        font-weight: 300;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        max-width: 786px;
        margin: 0 auto 46px;
        @media(min-width: $desktop) {
            font-size: 20px;
            line-height: 40px;
            margin-bottom: 128px;
        }
    }
    &__heading {
        font-size: 36px;
        line-height: 48px;
        color: #234361;
        text-align: center;
        margin: 0;
        @media(min-width: $desktop) {
            font-size: 48px;
            line-height: 56px;
        }
    }
}

.project {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    background: $gray;
    overflow: hidden;
    border-radius: 16px;
    font-family: Roboto Mono;
    font-size: 13px;
    color: $console;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    @media(min-width: $desktop) {
        font-size: 16px;
        line-height: 24px;
    }
    &__circle {
        display: block;
        width: 8px;
        height: 8px;
        background: $mediumGray;
        border-radius: 50%;
        margin-right: 8px;
    }
    &__content {
        padding: 24px 16px;
        text-align: left;
        @media(min-width: $desktop) {
            padding: 24px 48px 82px;
            margin: 0;
        }
    }
    &__window {
        height: 40px;
        display: flex;
        align-items: center;
        padding: 0 0 0 16px;
        background: $darkGray;
    }
    &__title {
        font-size: 13px;
        line-height: 24px;
        font-weight: normal;
        margin-top: 24px;
        @media(min-width: $desktop) {
            font-size: 16px;
            line-height: 24px;
        }
    }
    &__grid {
        display: grid;
        column-gap: 8px;
        margin: 0 0 8px 0;
        grid-template-columns: 102px 1fr;
        @media(min-width: $desktop) {
            grid-template-columns: 116px 1fr;
        }
    }
}

.projects__grid {
    display: grid;
    column-gap: 24px;
    row-gap: 24px;
    max-width: 1184px;
    margin: 0 auto;
    @media(min-width: $tablet) {
        grid-template-columns: 1fr 1fr;
    }
}

.project {
    &__label {
        display: block;
        text-align: right;
        color: #808082;
        font-weight: 400;
        &__name {
            color: #fff;
        }
    }
    &__link {
        color: $blue;
    }
}