$blue: #1070CA;
$lightBlue: #4DA8FF;
$lighterBlue:#DBEAF7;
$textDark: #234361;
$gray: #212528;
$text: #425A70;
$darkGray: #1E1E1E;
$mediumGray:#464A4D;
$console: #808082;
$tablet:768px;
$desktop: 960px;